
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <img src="~/Content/Images/logo.jpg" />
</div>

<button class="btn btn-block"><a href="http://vinhlocgroup.com" style="color:#333" >Truy cập website</a></button>

