<div id="top-content">
    <div class="header-title">
        <div class="search-icon">
            <img src="~/Content/images/search.png" width="30px" />
        </div>
        <div class="search-textbox">
            <input type="text" name="search" class="form-control" placeholder="Tìm kiếm" />
        </div>
    </div>
</div>
<div class="list-room">
</div>
