<div id="root"></div>
<div class="clearfix"></div>
<div style="height:50px;"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>*@
<script>
    $.ajaxSetup({
        headers: { 'Authorization': localStorage.getItem("token") }
    })
    $.get('/api/users', function (data) {
        localStorage.setItem('user', data);
        data = JSON.parse(data);
        localStorage.setItem('tokenreset', data[0].Value);
    })
</script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    var connection = $.hubConnection(`/signalr`, { useDefaultPath: false });
    var ChatHubProxy = connection.createHubProxy('roomHub');
    ChatHubProxy.on('getListRoom', function (list) {
        localStorage.setItem('list', JSON.stringify(list));
    });
    connection.start().done(function () {
        setTimeout(function () {
            setInterval(() => { ChatHubProxy.invoke('getListRoom', localStorage.getItem('tokenreset')); }, 500);
        }, 1000);

    });
</script>
@*<script type="text/jsx" src="@Url.Content("~/Scripts/build.jsx")"></script>*@
<script type="text/javascript" src="~/Scripts/build.js"></script>
