@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/style1.css" />
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" />
</head>

<body>
    <div class="container">
        <div class="card card-container" style="padding:0px">
            <h5 class="text-center"><strong>Chọn hỗ trợ</strong></h5>
            <div class="text-center">
                <a href="#" class="new-room" ref="tech">
                    <img src="~/Content/images/customer.png" width="50px" />
                    <p><strong>Hỗ trợ chung</strong></p>
                </a>
            </div>
            <div class="text-center col-xs-6">
                <a href="#" class="new-room" ref="gen">
                    <img src="~/Content/images/customer.png" width="50px" />
                    <p><strong>Kỹ thuật</strong></p>
                </a>
            </div>
            <div class="text-center col-xs-6">
                <a href="#" class="new-room" ref="bus">
                    <img src="~/Content/images/customer.png" width="50px" />
                    <p><strong>Mua bán</strong></p>
                </a>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>

</html>
