body, html {
    height: 100%;
}

.card-container.card {
    max-width: 350px;
    padding: 20px 20px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
#inputEmail-register,
#inputName-register,
#inputPassword-register,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text]
{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
.float-right{
  float:right;
}
.header-title{
  padding: 10px 10px;
}
input[name=search]{
  border-radius: 50px;
}
.main .card-container{
    padding: 0px;
}
.main h5{
  padding: 10px 0px;
  border-bottom: 1px solid #cecece;
}
strong{
  color:#000;
}
.img-room{
  width: 50px;
  border-radius: 50px;
}
.name-group{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;
  color:#333;
}
.room-detail{
  padding: 5px 0px;
}
.sidebar{
  left:-200px;
  width: 200px;
  height: 100%;
  position: fixed;
  background: #fff;
  z-index: 10;
}
.button-menu{
  position: absolute;
  top: 10px;
  right: -50px;
}
.menu-icon{
  width: 20px;
}
button > a{
  color: #fff;
}

.menu-item{
  padding-top: 10px;
}
.menu-item p{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.menu-profile{
  margin:auto;
  overflow: hidden;
  height: 100px;
  border-radius: 50px;
  width: 100px;
}
.menu-profile img{
  width: 100px;
}
.menu-image img{
  width: 50px;
}
.menu-image{
  margin:auto;
  overflow: hidden;
  height: 50px;
  width: 50px;
}
header{
  position: fixed;
  width: 100%;
  background: #128de6;
  height: 50px;
}
.button-back{
  padding-top: 10px;
  width: 50px;
  float: left;
}
.room-name span{
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
footer{
  background: #fff;
  border: 1px solid #bbbbbb;
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
}
.input-message{
  line-height: 50px;
  height:40px;
}
input[name=message] {
    width: calc(100% - 100px);
    height: 40px;
    padding: 5px 20px;
    border-radius: 50px;
    border: 1px solid #bbbbbb;
    color: #000;
}
input[name=message]:focus{
  outline-width: 0px;
}
.input-message a{
  float: right;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding-top:10px;
}
.list-message{
  padding: 50px 10px;
}
.other, .owner{
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 0px;
}
.detail-message-right{
  float: right;
}
.detail-message-left, .detail-message-right{
  display: flex;
}
.search-icon{
    width: 50px;
    display: inline-block;
}
.search-textbox{
  display: inline-block;
  width: calc(100% - 100px);
}
.detail-image{
  width: 100px;
  display: inline-block;
}
.detail-name{
  font-size:18px;
  font-weight: bold;

}
.menu-footer{
    z-index:100;
    height:50px;
    background:#fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    border-top: 1px solid #bbb;
}
.profile {
    padding-top:60px;
    font-size:25px;
}
.profile-avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
}
    .profile-avatar img {
        width:150px;
    }
.lock {
    background: bisque;
}
header .note {
    position: fixed;
    top: 10px;
    right: 10px;
}
.note-box {
    float: right;
    background: #ece7e7;
    padding: 10px;
}
    .note-box > .box-item {
        padding:5px;
        cursor:pointer;
    }
        .note-box > .box-item:hover {
            background: #128de6;
            color: #fff;
        }
.search-add {
    width: 30px;
    display: inline-block;
    margin-left: 10px;
    cursor:pointer;
}
.other span, .owner span{
    font-size:15px;
    font-weight:500;
}
.owner {
    background: #128de6;
    color: #fff;
}
.other {
    background: #fff;
}
.product {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(100% - 50px);
}