<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/style1.css" />
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" />
    <script src="~/Scripts/jquery.min.js"></script>
</head>
<body id="body">
    <aside class="sidebar" id="aside">
        <div class="menu">
            <div class="menu-item">
                <a href="/Home/Profile">
                    <div class="menu-profile">
                        <img src="~/Content/images/logo.jpg" />
                    </div>
                    <p>
                    </p>
                </a>
            </div>
            <div class="menu-item">
                <a href="#" >
                    <div class="menu-image" id="product">
                        <img src="~/Content/images/menu1.png" />
                    </div>
                    <p>
                        Sản phẩm
                    </p>
                </a>
            </div>
            <div class="menu-item">
                <a href="/home/website">
                    <div class="menu-image">
                        <img src="~/Content/images/menu2.png" />
                    </div>
                    <p>
                        Website
                    </p>
                </a>
            </div>
            <div class="menu-item">
                <a href="/home/intro">
                    <div class="menu-image">
                        <img src="~/Content/images/menu3.png" />
                    </div>
                    <p>
                        Giới thiệu
                    </p>
                </a>
            </div>
            <div class="menu-item">
                <a href="/home/listroom" >
                    <div class="menu-image">
                        <img src="~/Content/images/menu4.png" />
                    </div>
                    <p>
                        Nhóm hỗ trợ
                    </p>
                    </a>
            </div>
            <div class="menu-item">
                <a href="#" class="logout">
                    <div class="menu-image">
                        <img src="~/Content/images/menu5.png" />
                    </div>
                    <p>
                        Đăng xuất
                    </p>
                </a>
            </div>
        </div>
    </aside>
    <div id="main">
        @RenderBody()
    </div>
    
    <div class="menu-footer clearfix" >
        <div class="col-md-3 col-xs-3">
            <a href="#" class="menu-left">
                <img src="~/Content/images/icon1.png" style="width:30px" />
            </a>
        </div>
        <div class="col-md-3 col-xs-3">
            <a href="/Home/ListRoom">
                <img src="~/Content/images/icon2.png" style="width:30px" />
            </a>
        </div>
        <div class="col-md-3 col-xs-3">
            <a href="/home/profile">
                <img src="~/Content/images/icon3.png" style="width:30px" />
            </a>
        </div>
        <div class="col-md-3 col-xs-3">
            <a href="#" class="logout">
                <img src="~/Content/images/icon4.png" style="width:30px" />
            </a>
        </div>
    </div>

    <div class="product hidden">
        <iframe src="http://vinhlocgroup.com/san-pham/page"></iframe>
    </div>

   
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>
